<p>
<strong>Comment Name:</strong>
<%= comment.commentname %>
</p>
<p>
<strong>Comment:</strong>
<%= comment.comment %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.task, comment],
               method: :delete,
               data: { confirm: 'You sure aboot dat der?' } %>
</p>